<!DOCTYPE html>
<%- include('../partials/head'); %>

  <body class="container">
    <%- include('../partials/header', {pagina: 'sobre' }); %>

      <main>
        <div class="jumbotron">
          <h1>Sobre mim</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora necessitatibus blanditiis voluptates,
            libero temporibus similique cumque qui quos fuga id, nesciunt maxime porro, perferendis omnis quidem rem
            nostrum. Error, illo.</p>
        </div>
      </main>
  </body>

  </html>